@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8dd;
  font-family: "Inter";
  font-weight: 400;
  color: #333;
}

button {
  cursor: pointer;
}

.App {
  width: 500px;
  min-height: 100vh;
  margin: 50px auto;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.25);

  position: relative;
}

@media screen and (max-width: 550px) {
  .App {
    width: 90%;
    margin: 30px auto;
  }
}

/* main-header */

.main-header {
  height: 150px;
  /* padding: 0 50px; */
  border-radius: 10px 10px 0 0;
  background-color: #ffc700;

  display: flex;
  align-items: center;

  color: #fff;
}

.main-header button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 900;
  color: #fff;

  width: 10%;
}

.main-header .left-col {
  /* width: 50%; */
  width: 40%;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  padding-left: 20px;
}

.main-header .left-col h1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.main-header .left-col p {
  font-size: 30px;
  font-weight: 900;
}

.main-header .right-col {
  /* width: 50%; */
  width: 40%;
  height: 60px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header .right-col h2 {
  font-weight: 400;
  font-size: 13px;
}

.main-header .right-col p {
  font-size: 17px;
}

.main-header .right-col .total-money {
  display: flex;
  align-items: center;
  height: 22px;
}
.main-header .right-col .total-money h2 {
  margin-right: 10px;
}

/* main */
main {
  padding: 0 50px;
  margin: 20px 0;
}

/* list-wrapper - filtering */
.list-wrapper {
  min-height: 30vh;
}

.list-wrapper header {
  height: 40px;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #595959;
}

.list-wrapper header h1 {
  font-size: 17px;
  font-weight: 700;
}

.list-wrapper header .filter-wrapper {
}

.list-wrapper header .filter {
  background: none;
  border: none;
  font-size: 15px;
  margin-left: 20px;
}

.list-wrapper header .filter-on {
  font-weight: 900;
  color: #ffc700;
}

/* list-wrapper - items */
.list-wrapper article {
  margin-bottom: 30px;
}

.list-wrapper article h1 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 25px;
}

.list-wrapper article dl {
  width: 100%;
  height: 50px;
  padding: 0 20px;

  border-radius: 5px;

  display: flex;
  align-items: center;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 7px;
}

.list-wrapper article dt {
  width: 45%;
  font-size: 15px;
}

.list-wrapper article dt.itemDate {
  display: block;
}

.list-wrapper article dd {
  width: 45%;
  text-align: right;
  padding-right: 15px;

  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.list-wrapper article dl.INCOMES dd {
  color: #4781ff;
}

.list-wrapper article dl.EXPENSES dd {
  color: #ff4747;
}

.list-wrapper article dl button {
  width: 10%;
  background-color: transparent;
  font-size: 10px;
  border: none;
}

.list-wrapper article dl button .del-btn {
  width: 20px;
  height: 20px;
  color: #595959;
}

/* aside */
aside {
  text-align: center;
  padding-bottom: 20px;
}

aside button {
  background-color: transparent;
  border: none;
  bottom: 20px;
  right: 20px;
}

aside button .add-btn {
  width: 45px;
  height: 45px;
  color: #ffc700;
}

/* add-backdrop */
.add-backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
}

/* add-wrapper */
.add-wrapper {
  width: 100%;
  height: 400px;
  background-color: #dedede;
  padding: 0 50px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;

  border-radius: 50px 50px 0 0;
  box-shadow: 0px -2px 18px 0px rgba(0, 0, 0, 0.5);
}

.add-wrapper button.active {
  background-color: #ffc700;
}

.add-wrapper h1 {
  font-size: 17px;
  padding-top: 30px;
  margin-bottom: 15px;
}

.add-list {
  display: flex;
  flex-direction: column;
}

.add-list .type-wrapper button {
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;
}

.add-list .type-wrapper button.type-on {
  background-color: #595959;
  color: #fff;
}

.add-list label {
  font-size: 15px;
  margin-bottom: 5px;
}

.add-list input {
  height: 40px;

  border-radius: 5px;
  border: none;

  padding: 10px 20px;
  margin-bottom: 10px;

  font-size: 15px;

  width: 100%;
}

.add-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.add-btn button {
  height: 40px;
  width: 40%;

  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #595959;

  font-size: 18px;
}
